@charset "UTF-8";

body{
margin: 0;
padding: 0;
display: flex; /* Center content vertically and arrange it in a column */
flex-direction: column; /* Center content vertically and arrange it in a column */
align-items: center; /* Center content vertically and arrange it in a column */
min-height: 100vh; /* Ensure a minimum height of 100% of the viewport height */
background: rgb(27,15,37);/*From Adobe*/
background: linear-gradient(92deg, rgba(27,15,37,1) 100%, rgba(154,26,175,1) 100%, rgba(6,66,176,1) 100%);/*From Adobe*/
}


.NavMenu{
list-style-type: none;
margin: 0;
padding: 0;
background: rgb(27,15,37);
background: linear-gradient(92deg, rgba(27,15,37,1) 100%, rgba(154,26,175,1) 100%, rgba(6,66,176,1) 100%);
}


.NavMenu li{
display: inline;
margin-right: 80px; /* Adjust spacing between menu items */
}


.NavMenu li a{
text-decoration: none; /* Remove underlines */
color: #C202ED; /* Change the text color as desired and taken from Adobe */
font-weight: bold; /* Make text bold */
box-shadow: inset 0 0 0 0 black;
margin: 0 -.25rem;
padding: 0 .25rem;
transition: color 0.3s ease-in-out, box-shadow 1.5s ease-in-out;
}


.NavMenu li a:hover{
text-decoration: none; /* Remove text underline and add box shadow on hover */
box-shadow: inset 100px 0 0 0 #C202ED; /* Remove text underline and add box shadow on hover */
color: rgb(27, 15, 37); /* Remove text underline and add box shadow on hover */
}


#logo{
width: 100px; /* Set the width of the logo */ 
height: 100px; /* Set the height of the logo */
margin-right: 0px; /* Adjust spacing between the logo and menu items */
transition: transform 0.3s ease-in-out; /* Add a smooth transition */
}


#logo:hover{
transform: rotate(360deg); /* Rotate the logo 360 degrees on hover */
}


#logo1{
width: 100px; /* Set the width of the logo */
height: 100px; /* Set the height of the logo */
margin-right: 0px; /* Adjust spacing between the logo and menu items */
transition: transform 0.3s ease-in-out; /* Add a smooth transition */
}
    
    
#logo1:hover{
transform: rotate(360deg); /* Rotate the logo 360 degrees on hover */
}


#ImgContent{
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
background: rgb(27,15,37);
background: linear-gradient(92deg, rgba(27,15,37,1) 100%, rgba(154,26,175,1) 100%, rgba(6,66,176,1) 100%);
}


#ImgContent{
padding: 25px;
display: inline-block; /* Make the container inline-block to fit the image */
padding: 10px; /* Add some padding to create space for the glow effect */
box-shadow: 0 0 10px #C202ED; /* Apply the glow effect using box-shadow */
width: 800px;
height: 1510px;
align-items: center;
color: #C202ED;
margin-top: 50px;
margin-bottom: 30px;
}


#ImgContent h1{
text-align: center;
color: white;
margin-bottom: -20px;
padding: 10px; /* Padding inside the border */
font-family: 'Archivo', sans-serif; /*google font*/
font-family: 'Bebas Neue', sans-serif; /*google font*/
font-family: 'Lilita One', cursive;  /*google font*/
font-family: 'Orbitron', sans-serif; /*google font*/
font-family: 'Press Start 2P', cursive; /*Google font*/
}


#ImgContent h1:hover{
text-decoration: none;
text-shadow: 0 0 10px #C202ED, 0 0 20px #C202ED, 0 0 30px #C202ED;
color: #C202ED;
opacity: 1; 
}


#ProfPic{
margin-top: 100px;
margin-left: 130px;
margin-bottom: 30px;
width: 500px; /* Set the width of the logo */
height: 500px; /* Set the height of the logo */
margin-right: 0px; /* Adjust spacing between the logo and menu items */
transition: transform 1s ease-in-out; /* Add a smooth transition */
border-radius: 50%; /* Create a circular shape for the container */
box-shadow: 0 0 10px #C202ED; /* Apply the glow effect using box-shadow */
overflow: hidden; /* Hide the glow outside the circular container */
}


.PicLogo{
list-style-type: none;
}


#ProfPic:hover{
transform: rotate(360deg); /* Rotate the logo 360 degrees on hover */
transform: scale(1.1); /* Zoom in by 10% on hover */
}


#ImgContent .PicLogo .ContentItIs{
color: white;
text-align: center; /*Align the text to center*/
margin-top: 20px;
}


.ContentItIs{
list-style: none; /* Remove default bullets */
margin-bottom: 100px;
}


#ImgContent .PicLogo .ContentItIs:hover{
text-decoration: none;
text-shadow: 0 0 10px #C202ED, 0 0 20px #C202ED, 0 0 30px #C202ED;
opacity: 1;
transform: scale(1.1); /* Zoom in by 10% on hover */
}


form{
text-align: center;
}


.ContactSys{
padding: 25px;
display: inline-block; /* Make the container inline-block to fit the image */
padding: 10px; /* Add some padding to create space for the glow effect */
box-shadow: 0 0 10px #C202ED; /* Apply the glow effect using box-shadow */
width: 800px;
height: 750px;
align-items: center;
color: #C202ED;
margin-top: 50px;
margin-bottom: 30px;
}


.SubmitButton{
background-color: rgb(27,15,37);
color: white;
display: inline-block;
box-sizing: border-box;
border-color: #C202ED;
}


.ContactSys .Inside{
width: 100%;
margin: 8px 0;
padding: 12px 20px;
display: inline-block;
box-sizing: border-box;
border-color: #C202ED;
border-width: 10px;
}


.ContactSys h2{
text-align: center;
color: white;
margin-bottom: 30px;
padding: 10px; /* Padding inside the border */
font-family: 'Archivo', sans-serif; /*google font*/
font-family: 'Bebas Neue', sans-serif; /*google font*/
font-family: 'Lilita One', cursive;  /*google font*/
font-family: 'Orbitron', sans-serif; /*google font*/
font-family: 'Press Start 2P', cursive; /*Google font*/
}


.ContactSys .Outside{
width: 100%;
height: 150px;
margin: 8px 0;
padding: 100px 20px;
display: inline-block;
box-sizing: border-box;
border-color: #C202ED;
vertical-align: top;
overflow-y: auto;
border-width: 10px;
}


.ContactSys .Outside::placeholder{
text-align: left;
vertical-align: top; /* Align the placeholder text at the top */
padding-top: 0; /* Remove any top padding for the placeholder text */
}


.ContactSys .SubmitButton:hover{
text-decoration: none;
text-shadow: 0 0 10px #C202ED, 0 0 20px #C202ED, 0 0 30px #C202ED;
color: white;
opacity: 1;
transform: scale(1.2); /* Zoom in by 20% on hover */
}


.ContactSys h2:hover{
text-decoration: none;
text-shadow: 0 0 10px #C202ED, 0 0 20px #C202ED, 0 0 30px #C202ED;
color: #C202ED;
opacity: 1;
}


.ContactSys .SubmitButton{
height: 30px;
width: 70px;
cursor: pointer;
margin-top: 50px;
}


#WelcomeHome .WelText{
text-align: center;
margin-top: 50px;
color: white;
padding: 25px;
display: inline-block; /* Make the container inline-block to fit the image */
padding: 10px; /* Add some padding to create space for the glow effect */
box-shadow: 0 0 10px #C202ED; /* Apply the glow effect using box-shadow */
width: 800px;
height: 750px;
align-items: center;
color: #C202ED;
}


#WelcomeHome .WelText h1{
font-size: 35px;/* Set initial font size */
transition: font-size 0.2s; /* Add a transition for smooth animation */
}


#WelcomeHome .WelText h1:hover{
font-size: 50px;/* Increase font size on hover */
}


#LogoItIs{
margin-top: 130px;
width: 300px; /* Set the desired width in pixels */
height: auto; /* Maintain aspect ratio by setting height to auto */
margin-right: 0px; /* Adjust spacing between the logo and menu items */
transition: transform 5s ease-in-out; /* Add a smooth transition */
border-radius: 50%; /* Create a circular shape for the container */
box-shadow: 0 0 10px #C202ED; /* Apply the glow effect using box-shadow */
overflow: hidden; /* Hide the glow outside the circular container */
}


#LogoItIs:hover{
transform: rotate(360deg); /* Rotate the logo 360 degrees on hover */
}


#WelcomeHome .WelText h1{
font-family: 'Archivo', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
margin-top: 100px;
margin-bottom: 10px;
}


#WelcomeHome .WelText h2{
font-family: 'Archivo', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
}   


#WelcomeHome .WelText h2:hover{
text-decoration: none;
text-shadow: 0 0 10px #C202ED, 0 0 20px #C202ED, 0 0 30px #C202ED;
color: #C202ED;
opacity: 1;
transform: scale(1.1); /* Zoom in by 10% on hover */
}


#WelcomeHome .WelText h3{
font-family: 'Archivo', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Racing Sans One', cursive;
}


.VidContent{
max-width: 800px;
margin: 0 auto;
text-align: center;
padding: 10px;
background-color: #C202ED;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin-bottom: 30px;
}


video{
width: 100%;
max-height: 100%;
}


footer{
background: rgb(27,15,37);
background: linear-gradient(92deg, rgba(27,15,37,1) 100%, rgba(154,26,175,1) 100%, rgba(6,66,176,1) 100%);
color: #C202ED;
text-align: center;
padding: 10px 0;
margin-top: 20px;
margin-bottom:10px;
}


.email a{
color: #C202ED;
text-decoration: none;
}


.clearfix::after { 
content: ""; /* Clear floats to ensure the footer stays at the bottom */
display: table; /* Clear floats to ensure the footer stays at the bottom */
clear: both; /* Clear floats to ensure the footer stays at the bottom */
}


#LogoLinks{
padding: 25px;
display: inline-block; /* Make the container inline-block to fit the image */
padding: 10px; /* Add some padding to create space for the glow effect */
box-shadow: 0 0 10px #C202ED; /* Apply the glow effect using box-shadow */
width: 800px;
height: 800px;
align-items: center;
color: #C202ED;
margin-top: 50px;
margin-bottom: 30px;
}


#LogoLinks h1{
text-align: center;
color: white;
margin-bottom: 30px;
padding: 10px; /* Padding inside the border */
font-family: 'Archivo', sans-serif; /*google font*/
font-family: 'Bebas Neue', sans-serif; /*google font*/
font-family: 'Lilita One', cursive;  /*google font*/
font-family: 'Orbitron', sans-serif; /*google font*/
font-family: 'Press Start 2P', cursive; /*Google font*/
}


#LogoLinks h1:hover{
text-decoration: none;
text-shadow: 0 0 10px #C202ED, 0 0 20px #C202ED, 0 0 30px #C202ED;
color: #C202ED;
opacity: 1;
}


#PythLogo{
margin-top: 70px;
width: 200px; /* Set the desired width in pixels */
height: auto; /* Maintain aspect ratio by setting height to auto */
margin-right: 0px; /* Adjust spacing between the logo and menu items */
border-radius: 50%; /* Create a circular shape for the container */
box-shadow: 0 0 10px #C202ED; /* Apply the glow effect using box-shadow */
overflow: hidden; /* Hide the glow outside the circular container */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-left: 280px;
}


#PythLogo:hover{
transform: scale(1.1); /* Zoom in by 10% on hover */
}


.LoLink{
list-style-type: none;   
}


#NetLogo{
margin-top: 80px;
width: 200px; /* Set the desired width in pixels */
height: auto; /* Maintain aspect ratio by setting height to auto */
margin-right: 0px; /* Adjust spacing between the logo and menu items */
border-radius: 50%; /* Create a circular shape for the container */
box-shadow: 0 0 10px #C202ED; /* Apply the glow effect using box-shadow */
overflow: hidden; /* Hide the glow outside the circular container */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-left: 280px;
margin-bottom: 80px;
}


#NetLogo:hover{
transform: scale(1.1); /* Zoom in by 10% on hover */
}


.LoLink2{
list-style-type: none;
}


#Head3{
font-family: 'Archivo', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Racing Sans One', cursive;
margin-left: 350px
}


#Head32{
margin-left: 336px;
margin-bottom: 0px;
margin-top: -60px;
font-family: 'Archivo', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Racing Sans One', cursive;
list-style-type: none;
}


.LoLink3{
list-style-type: none;
}


#HeadIs2{
margin-left: 130px;
font-family: 'Archivo', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Black Ops One', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Racing Sans One', cursive;
}


#PyPrjHead{
padding: 25px;
display: inline-block; /* Make the container inline-block to fit the image */
padding: 10px; /* Add some padding to create space for the glow effect */
box-shadow: 0 0 10px #C202ED; /* Apply the glow effect using box-shadow */
width: 800px;
height: 1000px;
align-items: center;
color: #C202ED;
margin-top: 50px;
margin-bottom: 30px;
}


#PyPrjHead h1{
text-align: center;
color: white;
margin-bottom: 30px;
padding: 10px; /* Padding inside the border */
font-family: 'Archivo', sans-serif; /*google font*/
font-family: 'Bebas Neue', sans-serif; /*google font*/
font-family: 'Lilita One', cursive;  /*google font*/
font-family: 'Orbitron', sans-serif; /*google font*/
font-family: 'Press Start 2P', cursive; /*Google font*/
}


#PyPrjHead h1:hover{
text-decoration: none;
text-shadow: 0 0 10px #C202ED, 0 0 20px #C202ED, 0 0 30px #C202ED;
color: #C202ED;
opacity: 1;
}


#UnordLiOne{
list-style-type: none;
}


#UnordLiTwo{
list-style-type: none;
}


#KeyCompHeadPy{
list-style-type: none;
}


#PyPrjDesc{
list-style-type: none;
}


#ONel{
list-style-type: none;
}


#NetPrjHead{
padding: 25px;
display: inline-block; /* Make the container inline-block to fit the image */
padding: 10px; /* Add some padding to create space for the glow effect */
box-shadow: 0 0 10px #C202ED; /* Apply the glow effect using box-shadow */
width: 800px;
height: 1200px;
align-items: center;
color: #C202ED;
margin-top: 50px;
margin-bottom: 30px;
}


#NetPrjHead h1{
text-align: center;
color: white;
margin-bottom: 30px;
padding: 10px; /* Padding inside the border */
font-family: 'Archivo', sans-serif; /*google font*/
font-family: 'Bebas Neue', sans-serif; /*google font*/
font-family: 'Lilita One', cursive;  /*google font*/
font-family: 'Orbitron', sans-serif; /*google font*/
font-family: 'Press Start 2P', cursive; /*Google font*/
}


#NetPrjHead h1:hover{
text-decoration: none;
text-shadow: 0 0 10px #C202ED, 0 0 20px #C202ED, 0 0 30px #C202ED;
color: #C202ED;
opacity: 1;
}


#UnordLi1{
list-style-type: none;
}


#NetPrjDesc{
list-style-type: none;
}


#UnordLi2{
list-style-type: none;
}


#KeyCompHeadNet{
list-style-type: none;
}


#SelPara{
list-style-type: none;
}